@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>"Feeling down? We've got the best medicine—laughter! Dive into a world of hilarious jokes and funny moments right here!"</p>
</div>
