@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h6>Introduction</h6>
<p>Welcome to Joke Web Application. We are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and share information about you when you use our website and services (collectively, "Services").</p>
